@media only screen and (min-width: 0) and (max-width: 1023px) {


body
{
  font-size: 200%;
}
#tabpanel-switch
{
  font-size: 1.5em;
  max-height: 600px;
  position: relative;
}
#tabpanel-switch:before
{
  content: '\e805';
  font-family: "Fontello";
  float: right;
  margin-top: 10px;
  right: 30px;
  margin-bottom: -20px;
  position: fixed;
}
#tabpanel-switch:hover
{
  overflow: auto;
}
#logo
{
  width: 100%;
}
#logo img
{
  padding-top: 8px;
}

#tabpanel-switch>ul
{
  margin-left: 3em;
}
#tabpanel-switch span
{
  display: none;
}
#tabpanel-switch>ul>li>ul
{
  margin-left: 3em;
}

#tabpanel-switch>li.group
{
  height: auto;
  border-bottom-width: 3px;
}
#tabpanel-switch:hover>li.group
{
  border-bottom-width: 0;
}
#tabpanel-switch li 
{
  width: 100%;
  display: none;
  height: 64px;
}
#tabpanel-switch:hover li 
{
  display: block;
}
#tabpanel-switch li.stretch 
{
  display: none;
}


.document.button .title
{
  padding-top: 20px;
}





#tabpanel-switch li.selected
{
  display: block;
}
#tabpanel-switch ul li.selected
{
  border-bottom-width: 0;
}
#tabpanel-switch:hover ul li.selected
{
  border-bottom-width: 3px;
}
.header .width-drag
{
  height: 2em;
}

#tabpanel-switch>li.spoiler,
#tabpanel-switch>li.spoiler-stretch
{
  display: none;
}
.table-cell, .header-cell
{
  height: 1.2em;
  padding: 0.5em 0.25em;
}
.header .header-cell.icon:before
{
  line-height: 2.5rem;
}
.popup-window,
.popup-window.double,
.popup-window.triple
{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px 4px;
}

.popup-window>.field-wrap
{
  margin: 0 1%;
  min-height: 90px;
}
.popup-window .buttons-wrap
{
  margin-top: 1em;
}

.text.field
{
	min-height: 64px;
}
.field-wrap
{
  font-size: 2rem;
  height: auto;
}
.field-wrap .checkbox
{
  height: 64px;
}
.field-wrap .field
{
  font-size: 1.5rem;
}
.combobox .option
{
  padding-left: 8px;
  min-height: 62px;
  line-height: 62px;
}
.field-wrap .combobox
{
  font-size: 1em!important;
}
.combobox .arrow 
{
  min-height: 25px;
  margin-top: -40px;
  margin-right: 8px;
}
.date.field .field-wrap:nth-child(2)
{
  width: 400px;
}

.field-wrap .checkbox
{
  width: 128px;
}
.field-wrap .checkbox em
{
  line-height: 58px;
}
.field-wrap .checkbox.checked em
{ 
	margin-left: 1px;
}
.field-wrap.double {
  width: 98%;
}


.button
{
  height: 64px;
  min-width: 64px;
  line-height: 42px;
  text-indent: 8px;
  padding: 10px;
}
.button.icon:before 
{
  top: 15px;
  margin-left: 0;
  margin-right: 10px;

}

.search-wrap .field
{
  text-indent: 8px;
}
.search-wrap .search-button, .search-wrap .clear-button
{
  width: 64px;
  height: 64px;
}
.search-wrap .search-button:before, .search-wrap .clear-button:before {
  line-height: 2em;
  width: 3rem;
}

.popup-caption
{
  font-size: 1.8em;
  height: 120px;
}

.statusbar-wrap
{
  height: 0;
  line-height: 84px;
  display: none;
}

.stat-window .popup-body>*
{
  width: 100%;
}
.stat-window .popup-body img
{
  width: 100%;
  height: auto;
}


.header .header-context-menu-button 
{
  height: 71px;
  width: 72px;
  margin-top: -70px;
  line-height: 70px; 
}

.context-option
{
  padding: 0.2em 0.8em;
  white-space: nowrap;
}
.context-option span {
  margin-left: -0.4em;
}
.context-option .icon:before 
{
  vertical-align: baseline;
}

#preferences-tabpanel-switch
{
  max-width: 33%;
}
#preferences-tabpanel-switch li
{
  white-space: normal;
}

#preferences-tabpanel-content .save-message
{
  display: block;
  padding-left: 6px;
}

#preferences-tabpanel-content .save-message>*,
#preferences-tabpanel-content .save-message .button
{
  width: 100%;
  margin: 0;
  margin-top: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* ============================== NEW ============================== */

.flex-wrap 
{
  height: 64px;
}

.flex-wrap>*
{
  height: 64px;
}
.popup-body>.field-wrap
{
  min-height: 110px;
}
.date-time-field-wrap,
.combobox-field-wrap
{
  height: 110px;
}


.icon:before
{
  font-size: 2rem;
}


.table-cell p.state {
  width: 32px;
  height: 32px;
  line-height: 56px;
}

.icon.list:before 
{
  font-size: 2rem;
}


}
