
* {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img {
	border: 0;
}

caption,th {
	text-align: left;
}


h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

input, a, object, embed {
	outline-width: 0px;
}

