/* line 2, ../sass/reset.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 7, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 12, ../sass/reset.scss */
fieldset, img {
  border: 0;
}

/* line 16, ../sass/reset.scss */
caption, th {
  text-align: left;
}

/* line 21, ../sass/reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 26, ../sass/reset.scss */
input, a, object, embed {
  outline-width: 0px;
}
