/* Let's import the lovely google font, please keep this line at the top of your stylesheet */




/* Menu CSS */ 

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a{
	
	padding: 0;
	margin: 0;
	line-height: 1;
	font-family: sans-serif;
	
}

#cssmenu:before, #cssmenu:after, #cssmenu > ul:before, #cssmenu > ul:after {

	content: '';
	display: table;
	
}


#cssmenu:after, #cssmenu > ul:after {

	clear: both;
	
}

#cssmenu 
{
  box-shadow: 0 0 2px #FF9712;
	zoom:1;
	padding-bottom: 6px;
  background-color: #de6013;
}

#cssmenu ul{

	background-color: #222;
}

#cssmenu ul li{

	float: left;
	list-style: none;
	margin-top: -6px;
  position: relative;
}

#cssmenu ul li a{
	
	display: block;
	height: 37px;
	padding: 22px 12px 0;
	margin: 4px 2px 0;
	border-radius: 2px 2px 0 0;
	text-decoration: none;
	font-size: 15px;
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
	font-weight: 400;
	opacity: .9;
	
}

#cssmenu ul li:first-child 
{
  margin-left: 6px;
}
#cssmenu ul li:first-child a{
	
	margin: 4px 2px 0 0;
	
}

#cssmenu ul li a:hover, #cssmenu ul li.active a
{
  margin-top: -20px;
  background-image: -moz-linear-gradient(top, #f59043 0%, #de6013 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f59043), color-stop(100%,#de6013));
	display: block;
	height: 37px;
	margin-top: 0px;
	padding-top: 26px;
	color: #9b4106;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .35);
	opacity: 1;
}
